*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}
nav li{
    list-style: none;
}
